body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding-top: 100px;
  background-color: #f4f4f9;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: rgb(16 63 69); /* Adjust the color to your theme */
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text{
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: 400;
}

.navbar .menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.content {
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  font-size: 33.75px;
  border-bottom: 4px solid #195942;
  display: inline-block;
  margin-bottom: 30px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
} 

.card-info-grid{
  display: grid;
  grid-template-columns: 85px 1fr;
  padding: 20px;
}

.card { 
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  position: relative;
  overflow: hidden;
  max-width: 100;
  padding-bottom: 15px;
}

.card img {
  width: 100%;
  height: 234px;
  line-height: 27px;
  object-fit: cover;
  object-position: 50% 30%;
  display: block;
  overflow-clip-margin: content-box;
}

.card img:hover{
  opacity: 0.80;
  transition: 0.15s;
}

.card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
 
.see-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #195942;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  display: none;
  text-decoration: none;
}

.card:hover .see-more {
  display: block;
}

.event-date {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 1rem;
  border-right: 2px solid #D1D5DB;
  text-align: center;
  display: flex;
  align-items: center; 
}

.event-details{
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-grow: 0.5;
  padding-left: 14px;
  padding-right: 10px;
}

.event-title {
  font-size: 24px;
  margin-block-end: 0px;
}

.event-title a {
  text-decoration: none;
  color: #195942;
}

.badges {
  display: inline-block;
  gap: 10px;
}

.badge-1 {
  background-color: rgb(22, 101, 106);
  color: rgb(255, 247, 243);
  padding: 5px 10px;
  border-radius: 34.2px;
  font-weight: bold;
  font-size: 15.75px;
}

.badge-2 {
  background-color: rgb(255, 228, 105);
  color: black;
  padding: 5px 10px;
  border-radius: 34.2px;
  font-weight: bold;
  font-size: 15.75px;
}

.pagination {
  text-align: center;
  margin: 20px 0;
}

.pagination .btn {
  background-color: #195942;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.btn-1{
  background-color: #195942;
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.footer {
  background-color: rgb(16 63 69);
  color: white;
  padding: 20px;
  text-align: center;
}
